#mapPanel
#diff-tool
	.caption Start
	.start-lat.label
	.start-lng.label
	.caption End
	.end-lat.label
	.end-lng.label
	.caption Alt Delta
	.diff-alt.label
	.caption Distance
	.distance.label
	#button-diff-done Done
#button-bar
	#button-minus.button -
	#filter-level 0
	#button-plus.button +
	#button-query.button Load
	#button-diff.button Diff
