<!DOCTYPE html>
<html>
<head>
  <title>CityHiker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCV0592HqjlLjMEkMRn29YgoflvzOs5l-4"></script>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
